@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Gang";
  src: url("/fonts/gang_light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gang";
  src: url("/fonts/gang_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.font-gang {
  font-family: "Gang", Pretendard, sans-serif;
}

.font-gang-light {
  font-family: "Gang", Pretendard, sans-serif;
  font-weight: 300;
}

.font-gang-bold {
  font-family: "Gang", Pretendard, sans-serif;
  font-weight: 700;
}

:root {
  --primary: #f1672b;
  --bg: #dad1ca;
  --fg: #202120;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--fg);
  color: var(--bg);
  overflow-x: hidden;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}
button {
  /* outline:none; */
  border: none;
}

.highlight {
  color: var(--primary);
}

.ham {
  mix-blend-mode: exclusion;
  transform: scale(0.7);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: scale(0.7) rotate(45deg);
}

.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: var(--bg);
  stroke-width: 3.5;
  stroke-linecap: round;
}

.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}

#global-navigation {
  min-width: 100vw;
  min-height: 10dvh;
  background-color: var(--bg);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  color: var(--fg);
  gap: clamp(24px, 6vh, 80px);

  .nav-list {
    padding-top: 10vh;
    text-align: center;
    font-size: 25px;
    font-weight: 700;

    > li {
      margin-bottom: 24px;
      overflow: hidden;
    }

    > li > a {
      position: relative;
      display: inline-block;
    }
    > li > a::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary);
      position: absolute;
      left: -10px;
      top: 0;
      opacity: 0;
    }

    > li.active a {
      color: #8e8883;
    }
    > li.active a::after {
      opacity: 1;
    }
  }

  .nav-tagline {
    text-align: center;
    line-height: 1.3;
    font-size: 18px;
  }
}

.nav-overlay[aria-hidden="true"] {
  display: none;
}

.nav-overlay[aria-hidden="false"] {
  display: flex;
  flex-direction: column;
}

.nav-footer {
  padding: 0 20px 20px 20px;
  margin-top: auto;
  padding: 0 20px calc(20px + env(safe-area-inset-bottom)) 20px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lang-switch {
      button {
        outline: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 20px;
      }

      button[aria-current="true"] {
        color: var(--primary);
      }
    }

    .social-links {
      display: flex;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > li {
      display: flex;
      justify-content: space-between;
      opacity: 0.5;
    }
  }
}
