[data-barba-namespace="contact"].container {
  .top {
    background-color: var(--bg);
    text-align: center;
    /* margin-top: -2rem; */
    /* padding-bottom: 10vh; */

    > img {
    }
  }

  .bottom {
    background-color: var(--fg);
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    z-index: 10;
    position: relative;
    padding-top: 10px;
    padding-bottom: 4rem;
    padding-inline: 14px;

    .inner {
      max-width: 400px;
      margin: 0 auto;

      .bar {
        width: 100px;
        margin: 0 auto;
        height: 5px;
        background-color: var(--bg);
        border-radius: 5px;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 27px;
        margin-bottom: 30px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    select {
      background-color: #151515;
      color: var(--bg);
      border: none;
      padding: 5px 10px;
      border-radius: 10px;
      font-size: 16px;
      max-width: 150px;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      label {
      }
      input {
        background-color: var(--bg);
        border-radius: 4px;
        border: none;
        padding: 8px;
      }
      textarea {
        background-color: var(--bg);
        border-radius: 4px;
        border: none;
        resize: none;
        overflow-y: auto;
        min-height: 100px;
        padding: 8px;
      }
    }
    > span {
      opacity: 0.7;
      font-size: 12px;
      text-align: center;
    }

    button {
      background-color: var(--primary);
      font-size: 16px;
      width: fit-content;
      padding: 4px 8px;
      border-radius: 4px;
      margin: 0 auto;
      font-weight: bold;
    }
  }
  input,
  textarea {
    width: 110%;
    font-size: 16px;
    transform: scale(0.875);
    transform-origin: left top;
  }
}
