[data-barba-namespace="home"].container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */

  text-align: center;
  .top {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    /* background-image: url("/visual.jpg"); */
    position: relative;
    padding-top: 3vh;
    /* z-index: 10; */

    .contents {
      z-index: 10;
      position: absolute;
      left: 50%;
      top: 85%;
      transform: translateX(-50%);

      h1 {
        font-size: 34px;
        margin-bottom: 40px;
        white-space: nowrap;
      }
    }
  }

  .bottom {
    margin-top: -10px;
    position: relative;
    background-color: var(--fg);
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    min-height: 0;
    a {
      background-color: var(--primary);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    p {
      margin-top: -12px;
      font-size: 20px;
      word-break: keep-all;
      font-weight: 100;
      max-width: 280px;
      line-height: 150%;

      span {
        font-weight: 400;
      }
    }
  }
}
