[data-barba-namespace="portfolio"].container {
  max-width: 500px;
  margin: 0 auto;
  padding-inline: 12px;

  h1 {
    font-size: 34px;
    padding-top: 88px;
    padding-bottom: 88px;
    line-height: 1.3;
    opacity: 0;
    transform: translateX(-10px);
  }

  section {
    margin-bottom: 60px;
    h2 {
      margin-bottom: 14px;
      font-size: 18px;
    }

    figure {
      padding: 18px;
      background-color: var(--bg);
      margin-bottom: 12px;
      border-radius: 18px;
      color: var(--fg);

      a {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .cover {
        width: 100px;
        overflow: hidden;
        border-radius: 7px;
        border: 2px solid var(--fg);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover; /* 핵심 */
          object-position: center; /* 중앙 기준으로 자름 */
          display: block;
        }
      }
    }
  }
}

section:last-child {
  padding-bottom: 80px;
}

.scroll {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
